{% extends "managesystem/layout.html" %}

{% block title %}
    查询
{% endblock %}

{% block body %}
    <form action = "{% url 'back' %}" method="post">
        <div class="mb-3 row"style="margin-top: 500px;margin-left: 50px">
            <div class="col-sm-10">
                {%  csrf_token %}
                <select class ="form-select form-select-lg"style="height: 40px;width: 1000px" name ="borrowed" id = "borrowed">
                    {% for book in books %}
                    <option value = {{ book.name }}>
                       {{ book.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-3">点击</button>
        </div>
    </form>
{% endblock %}
